# üß† Intro to SQL ‚Äî Revision Notebook (Colab Edition)

Welcome to your **SQL Revision Notebook**! üéì  
This notebook is designed for interactive learning ‚Äî you‚Äôll **write and run real SQL queries** in Google Colab.

Each section contains **practice questions**, **dummy data**, and **solutions** you can reveal or study.

Let's begin üëá

In [ ]:
!pip install ipython-sql==0.5.0 prettytable==3.9.0
%load_ext sql
%sql sqlite://
%config SqlMagic.style = 'PLAIN_COLUMNS'
%config SqlMagic.autopandas = True

## üß© Step 1: Create Dummy Database
We‚Äôll create three tables: `students`, `courses`, and `instructors`.

In [ ]:
%%sql
DROP TABLE IF EXISTS students;
DROP TABLE IF EXISTS courses;
DROP TABLE IF EXISTS instructors;

CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    grade REAL,
    course_id INTEGER
);

CREATE TABLE courses (
    id INTEGER PRIMARY KEY,
    name TEXT,
    instructor_id INTEGER
);

CREATE TABLE instructors (
    id INTEGER PRIMARY KEY,
    name TEXT
);

INSERT INTO instructors VALUES
(1, 'Mr. Tan'),
(2, 'Ms. Lim'),
(3, 'Mr. Wong');

INSERT INTO courses VALUES
(1, 'Mathematics', 1),
(2, 'Science', 2),
(3, 'History', 3);

INSERT INTO students VALUES
(1, 'Alice', 20, 88.5, 1),
(2, 'Bob', 21, 75.0, 2),
(3, 'Chloe', 19, 92.0, 1),
(4, 'Daniel', 22, 60.5, 3),
(5, 'Eva', 20, 82.0, 2);

## üß† Section 1: SELECT Basics
**Question:** Display all student names and grades.

In [ ]:
%%sql

## üéØ Section 2: Filtering Data with WHERE
**Question:** Show all students who scored above 80.

In [ ]:
%%sql

## üìä Section 3: ORDER BY and LIMIT
**Question:** Show the top 3 students by grade.

In [ ]:
%%sql

## üßÆ Section 4: Aggregate Functions
**Question:** Find the average grade of all students.

In [ ]:
%%sql

## üß© Section 5: GROUP BY
**Question:** Find the average grade for each course.

In [ ]:
%%sql

## ü§ù Section 6: JOINs
**Question:** Show each student's name, course, and instructor.

In [ ]:
%%sql

## üß† Section 7: Subqueries
**Question:** Find students who scored above the overall average grade.

In [ ]:
%%sql

## üõ†Ô∏è Section 8: UPDATE, DELETE, and INSERT Practice
**Question:** Add a new student and then view all students.

In [ ]:
%%sql

## üèÅ Challenge Section
Try these on your own:
1. Find the student with the lowest grade.
2. Count how many students are enrolled per course.
3. Show all students with 'a' in their name.

üéØ Bonus: Write a query to show **the top-performing course** based on average grades!